<!DOCTYPE html>
<html style="font-size: 38px;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <title>物流跟踪</title>

    <script>
        //        let width  = 375;
        //        console.log(window.screen.width)
        //        var scale = window.screen.width / width;
        //        document.querySelector('meta[name="viewport"]').setAttribute('content','width='+width+'px, initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<link href="../../static/css/vendor.css?93bdf6af7855f37a0942" rel="stylesheet"><link href="../../static/css/views/trade/logistics.css?93bdf6af7855f37a0942" rel="stylesheet"></head>
<body >
<div id="app"></div>

<script type="text/javascript" src="../../static/js/vendor.js?93bdf6af7855f37a0942"></script><script type="text/javascript" src="../../static/js/views/trade/logistics.js?93bdf6af7855f37a0942"></script></body>

</html>