<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <title>个人信息</title>
  <link href="../../static/css/vendor.css?93bdf6af7855f37a0942" rel="stylesheet"><link href="../../static/css/views/mine/profile.css?93bdf6af7855f37a0942" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="../../static/js/vendor.js?93bdf6af7855f37a0942"></script><script type="text/javascript" src="../../static/js/views/mine/profile.js?93bdf6af7855f37a0942"></script></body>
<script>

</script>
</html>
