<!DOCTYPE html>
<html>
<head style="font-size: 75px">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <title>积分规则</title>
  <script>
    console.log(window.screen.width)
      var scale = window.screen.width / 750;
      document.querySelector('meta[name="viewport"]').setAttribute('content','width=750px, initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
  </script>
  <style>
    .help-agreement {
      padding: 00px 15px;
      line-height: 22px;
    }

    p {
      margin-left: 20px;
      line-height: 50px;
      margin-bottom: 20px;
      font-size: 32px;
      color: #444;
    }



  </style>
<link href="../../static/css/vendor.css?5706ad746e7f574c2c02" rel="stylesheet"></head>


<body>
<!--<div style="background-color: aqua;width: 375px;height: 20px;"></div>-->

<div id="aapp">
  <!--<p>{{ message1 }}</p><br>-->
  <!--<p>{{ message2 }}</p><br>-->
  <!--<p>{{ message3 }}</p><br>-->
  <!--<p>{{ messagea }}</p><br>-->
  <!--<p>{{ messageb }}</p><br>-->
  <!--<p>{{ messagec }}</p><br>-->
  <div class="help-agreement">

    <br/>


    <p>1. &nbsp;会员凭会员卡在本公司各门店及三江购物网购物时，每消费壹元可记壹分积分（团购商品、折价商品、注明无积分的商品均不记积分）；</p>
    <p>2.&nbsp; 积分兑换与积分活动：会员积分在会员卡有效期内累计达到一定数值可参加本公司举办的各类会员积分兑换或专项积分活动，参加以上兑换活动时将同时减去会员卡内相应积分，具体兑换时间、兑换办法及礼品明细请关注本公司各门店、三江购物微信号及三江购物网等告示；
      ；</p>
    <p>3.&nbsp; 会员卡积分有效期为每年的1月1日起至12月31日止，到期积分清零。</p>


    <p>4.&nbsp;三江购物网积分商城兑换或购买的商品享受和正常商品一起“支付满88免基础运费”的配送。）；</p>
    <p>5.&nbsp; 积分兑换的优惠券不支持退换货。；</p>
    <br/>
  </div>








</div>


<script>




</script >



<script type="text/javascript" src="../../static/js/vendor.js?5706ad746e7f574c2c02"></script></body>
</html>
